.places {
    max-width: 880px;
    margin: 47px auto 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

@media screen and (max-width: 881px) {
    .places {
        max-width: 282px;
        margin-top: 36px;
    }
}