.popup__line {
    width: 358px;
    margin: 13px auto 0 auto;
    border: 1px solid #000;
    opacity: 0.2;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__line {
        width: 238px;
    }
}