.footer__copyright {
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 881px) {
    .footer__copyright {
        font-size: 0.875em;
    }
}