.profile__info {
    max-width: 550px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 22px auto 25px auto;
    padding: 0;
    column-gap: 18px;
    row-gap: 16px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__info {
        max-width: 282px;
        margin: 22px auto 36px auto;
        row-gap: 14px;
        column-gap: 10px;
    }
}