.profile__info {
    max-width: 550px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 22px auto 25px auto;
    padding: 0;
    column-gap: 18px;
}

@media screen and (max-width: 881px) {
    .profile__info {
        max-width: 282px;
        margin: 26px auto 36px auto;
        column-gap: 0px;
    }
}